@charset "UTF-8";

@font-face {
    font-family: 'moonget';
    src: url("fonts/moon_get-Heavy.otf") format("opentype"), url("fonts/moon_get-Heavy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    
}

/* 
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-image: linear-gradient(to right, #194B80, #2978CC);
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    box-shadow: 5px 5px 15px #215fa1;
    padding: 10px;
    margin: auto;
}

h1{
   color: #0f4783;
   font-family: moonget;
   text-align: left;
   font-size: 1.7em;
}

h1#principal{
    text-align: center;
    font-size: 2em;
}

h2{
    font-family:  'moonget',sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    color: #fd9800;
    text-align: left;
    text-shadow: 1px 1px 0.5px #683e00 ;
}

.basico{
    color:lightgreen;
    
}

.intermediario{
    color:gold;
}

.avançado{
    color:crimson;
}

p{
    text-align: justify;
    text-indent: 20px;
}
