@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@151&display=swap');

* {
        
}

body{
    background-image: linear-gradient(to right, #194B80, #2978CC);
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    box-shadow: 5px 5px 15px #215fa1;
    padding: 10px;
    margin: auto;
}

h1{
   color: #0f4783;
   font-family: Gotham;
   text-align: center;
   
}

h2{
    color: #194B80;
}

p{
    text-align: justify;
}
